<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://th.bing.com/th/id/OIP.08bGE4YPB9q_OZ9hS45YpgHaGm?w=188&h=180&c=7&r=0&o=5&pid=1.7"
    alt=""
    height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um
      impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos
      de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica
      </a>
    </p>
  </div>
</div>
